.encabezado{
    display: grid;
    grid-template-columns: 65% 20%;
    padding: 1em;
    margin: 10px;
}

.cuerpo{
    display: grid;
    grid-template-columns: 50% 50%;
    
    
}

.datos{
    display: grid;
    grid-template-columns: 45% 45%;
}

.etiqueta{
   border: 1px solid black;
   border-color: black;
}

.columna1{
    display: grid;
    grid-template-columns: 40% 60%;
}

.columna2{
    display: grid;
    grid-template-columns: 40% 60%;
    margin-left: 250px;
}